{% load static %}
{% if ajax %}
  <form id="editRequestForm" method="post" action="{{ edit_url }}" data-editable="{{ is_editable }}">
    {% csrf_token %}
    <!-- Поля редактирования заявки -->
    <div class="form-group">
      <label for="id_edit_object_type">Тип объекта:</label>
      <select id="id_edit_object_type" name="object_type" class="form-control" data-initial-type="{{ object.object_type.id }}">
        <option value="">Выберите тип</option>
        {% for obj_type in object_types %}
          <option value="{{ obj_type.id }}" {% if object.object_type.id == obj_type.id %}selected{% endif %}>
            {{ obj_type.type_name }}
          </option>
        {% endfor %}
    </select>
    
    </div>
    <div class="form-group">
      <label for="id_edit_object_name">Название объекта:</label>
      <select id="id_edit_object_name" name="object_name" class="form-control" data-initial-value="{{ object.object_name.id }}">
        <option value="">Выберите название</option>
        {% for obj in object_names %}
          <option value="{{ obj.id }}" {% if object.object_name.id == obj.id %}selected{% endif %}>
            {{ obj.object_name }}
          </option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group" id="piketContainer">
      <label>Пикеты:</label>
      <div class="form-inline align-items-center">
        <!-- "От ПК" -->
        <div class="input-group input-group-sm mr-2" style="width: auto;">
          <div class="input-group-prepend">
            <span class="input-group-text">От ПК</span>
          </div>
          <input type="number" 
                 class="form-control" 
                 id="id_edit_piket_from" 
                 name="piket_from" 
                 placeholder="0" 
                 min="0" 
                 style="max-width: 70px;"
                 value="{{ object.piket_from }}">
        </div>
        <!-- "До ПК" -->
        <div class="input-group input-group-sm" style="width: auto;">
          <div class="input-group-prepend">
            <span class="input-group-text">До ПК</span>
          </div>
          <input type="number" 
                 class="form-control" 
                 id="id_edit_piket_to" 
                 name="piket_to" 
                 placeholder="100" 
                 min="0" 
                 style="max-width: 70px;"
                 value="{{ object.piket_to }}">
        </div>
        <!-- Контейнер для общей ошибки по пикетам -->
        <div id="piketErrorSpace" style="margin-left: 10px;"></div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="id_edit_date_range">Диапазон дат съемки:</label>
      <div class="input-group" style="max-width: 250px;">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-calendar-alt"></i>
          </span>
        </div>
        <input type="text"
               id="id_edit_date_range"
               class="form-control"
               placeholder="Выберите диапазон"
               title="Выберите период съёмки"
               autocomplete="off"
               value="{{ object.shoot_date_from|date:'d.m.Y' }} - {{ object.shoot_date_to|date:'d.m.Y' }}">
      </div>
      <!-- Скрытые поля -->
      <input type="hidden" id="id_edit_shoot_date_from" name="shoot_date_from" value="{{ object.shoot_date_from|date:'Y-m-d' }}">
      <input type="hidden" id="id_edit_shoot_date_to" name="shoot_date_to" value="{{ object.shoot_date_to|date:'Y-m-d' }}">
    </div>
    
    <div class="form-group">
      <label>Тип съемки:</label><br>
      <input type="checkbox" class="btn-check shooting-check" id="btn-check-edit-orthophoto" name="orthophoto" autocomplete="off" {% if object.orthophoto %}checked{% endif %}>
      <label class="btn btn-outline-primary btn-sm" for="btn-check-edit-orthophoto" style="border-radius: 12px;">Ортофотоплан</label>
    
      <input type="checkbox" class="btn-check shooting-check" id="btn-check-edit-laser" name="laser" autocomplete="off" {% if object.laser %}checked{% endif %}>
      <label class="btn btn-outline-primary btn-sm" for="btn-check-edit-laser" style="border-radius: 12px;">Лазерное сканирование</label>
    
      <input type="checkbox" class="btn-check shooting-check" id="btn-check-edit-panorama" name="panorama" autocomplete="off" {% if object.panorama %}checked{% endif %}>
      <label class="btn btn-outline-primary btn-sm" for="btn-check-edit-panorama" style="border-radius: 12px;">Панорама</label>
    
      <input type="checkbox" class="btn-check shooting-check" id="btn-check-edit-overview" name="overview" autocomplete="off" {% if object.overview %}checked{% endif %}>
      <label class="btn btn-outline-primary btn-sm" for="btn-check-edit-overview" style="border-radius: 12px;">Обзорные фото</label>
    </div>
    
    <div class="form-group">
      <label for="id_edit_note">Примечание:</label>
      <textarea id="id_edit_note" name="note" class="form-control">{{ object.note }}</textarea>
    </div>
    {% if form.fields.status %}
    <div class="form-group">
      <label for="id_edit_status">Статус заявки:</label>
      <select id="id_edit_status" name="status" class="form-control">
        <option value="Новая" {% if object.status == 'Новая' %}selected{% endif %}>Новая</option>
        <option value="В работе" {% if object.status == 'В работе' %}selected{% endif %}>В работе</option>
        <option value="Выполнена" {% if object.status == 'Выполнена' %}selected{% endif %}>Выполнена</option>
      </select>
    </div>
    {% endif %}
   
    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    <button type="button" id="deleteRequestBtn" data-request-id="{{ object.id }}" class="btn btn-danger" style="float: right;">Удалить заявку</button>
  </form>
  <hr>
  {% load json_extras %}

  <!-- Кнопка переключения истории -->
  <div class="text-center my-2">
    <button type="button" class="btn btn-warning" id="toggleHistoryBtn" style="width: 100%;">
      Показать историю изменений ▼
    </button>
  </div>

  <!-- Заголовок и блок истории  -->
  <h6 id="historyTitle" style="display: none;">История изменений</h6>
  <div id="requestHistory" style="display: none;">
    {% for record in object.history.all %}
      <div class="card mb-2">
        <div class="card-header">
          <strong>{{ record.changed_by.profile.full_name }}</strong>
          <span class="text-muted">– {{ record.timestamp|date:"d.m.Y H:i" }}</span>
        </div>
        <div class="card-body">
          <ul class="mb-0">
            {% for label, old_val, new_val in record.get_parsed_changes %}
              <li>{{ label }}: "{{ old_val }}" → "{{ new_val }}"</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% empty %}
      <p>Нет истории изменений.</p>
    {% endfor %}
  </div>

  
  {% else %}
  <div id="editRequestModal" 
       class="modal fade" 
       data-backdrop="static" 
       data-keyboard="false" 
       tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Редактировать заявку</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="editRequestFormContainer">
            {% include "main_app/modal_edit.html" with ajax=True %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  
